<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}">
<head>
  <!-- Add necessary meta tags and Bootstrap CSS -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>FinanceX</title>
</head>
<body>
<div class="container" layout:fragment="main">
  <div class="row featurette my-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Quem somos?</h2>
      <p class="lead">A FinanceX é um sistema de gerenciamento de finanças centralizado e eficiente. Sob a gestão de Zezin, seu fundador, a plataforma oferece uma ampla gama de funcionalidades destinadas a promover a saúde financeira e o bem-estar econômico de seus usuários. Nossas ferramentas modernas incluem um painel de controle intuitivo, áreas para acompanhamento de despesas e receitas, e seções dedicadas a investimentos e planejamento financeiro.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="img/logo.svg" alt="Imagem 1" style="max-width: 100%;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette my-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">O que temos a oferecer?</h2>
      <p class="lead">O objetivo principal da FinanceX é proporcionar uma experiência completa e satisfatória aos nossos usuários. Oferecemos ferramentas de acompanhamento financeiro adequadas a todos os níveis de habilidade, desde iniciantes até investidores experientes, com suporte personalizado para cada necessidade. Além disso, nossa variedade de funcionalidades abrange desde o controle de despesas e receitas até análises financeiras detalhadas, atendendo aos interesses e metas individuais de cada usuário.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="img/img1.jpg" alt="Imagem 2" style="max-width: 100%;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Planeje seu futuro financeiro!</h2>
      <p class="lead">As ferramentas de planejamento financeiro são muito populares entre os usuários do nosso sistema, proporcionando uma maneira eficiente e estratégica de gerenciar suas finanças. Oferecemos uma diversidade de opções, desde planejamento de aposentadoria até gerenciamento de investimentos, para garantir soluções para todos os perfis de usuários.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="img/img2.jpg" alt="Imagem 3" style="max-width: 100%;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette my-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Sempre à disposição!</h2>
      <p class="lead">Nossa equipe de especialistas financeiros está sempre à disposição para orientar e motivar os usuários, ajustando as estratégias financeiras de acordo com suas necessidades e objetivos específicos. Além disso, contamos com profissionais especializados em investimentos e planejamento financeiro, prontos para oferecer orientações adicionais aos usuários que buscam alcançar resultados ainda melhores.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="img/img3.jpg" alt="Imagem 4" style="max-width: 100%;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette my-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">Caminhando juntos!</h2>
      <p class="lead">Na FinanceX, valorizamos o bem-estar financeiro e a satisfação de nossos usuários acima de tudo. Nossa missão é criar um ambiente acolhedor e inspirador, onde todos se sintam motivados a alcançar seu máximo potencial financeiro. Estamos empenhados em auxiliar nossos usuários a atingirem seus objetivos econômicos, fornecendo uma ampla variedade de ferramentas e recursos para apoiar seu progresso contínuo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="img/img4.jpg" alt="Imagem 5" style="max-width: 100%;">
    </div>
  </div>
</div>

<!-- Add Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>